a,footer h3,header h3 {
    color: rgba(255,255,255,.7)
}

#links li:hover a,footer,h1,h2,h4,header {
    color: #fff
}

#projects,.padded {
    padding: 4rem
}

#links,.links,footer ul {
    list-style: none
}

body {
    font-family: 'IBM Plex Sans',sans-serif;
    margin: 0;
    --primary-color:#29b6f6;--primary-text-color:#102027;--secondary-text-color:#62727b;background: var(--primary-text-color)
}

a {
    text-decoration: none;
    transition: .1s color
}

#top {
    background: linear-gradient(135deg,#305af3 10%,#7b30f3)
}

#links {
    text-align: right;
    padding: 2rem 0 0
}

#links li {
    display: inline-block;
    margin: 0 1rem;
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;
    transition: border-bottom .1s ease-in-out;
    cursor: pointer
}

#links li:hover {
    border-bottom: 2px solid rgba(255,255,255,.7)
}

header {
    text-align: center;
    padding-bottom: 3rem
}

footer {
    padding: 0
}

header h1,header h3 {
    margin: 1rem 0
}

h1 {
    font-size: 3rem;
    font-weight: 600
}

h2,h3,h4 {
    font-weight: 500
}

.container {
    max-width: 1020px;
    margin: 0 auto;
    width: 100%
}

.small-container {
    max-width: 800px;
    margin: 0 auto;
    width: 100%
}

#projects h2,#projects h3 {
    margin-top: 0
}

#projects {
    background: #223239;
    margin-top: -6rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px #000
}

em {
    font-weight: 600;
    color: rgba(255,255,255,.9);
    font-style: normal
}

#projects h3 {
    font-weight: 500
}

#projects .container p {
    margin-bottom: 0
}

#raven,#gsx {
    color: #fff;
    margin: 0 -4rem;
    padding: 4rem
}

#raven {
    background: #5970C1;
    clip-path: polygon(0 5%,100% 0,100% 100%,0 95%)
}

#gsx {
    background: #00897B;
    clip-path: polygon(0 0,100% 5%,100% 95%,0 100%)
}

p {
    color: rgba(255,255,255,.8);
    line-height: 1.625rem
}

#blogs {
    margin-top: 4rem
}

#blogs-flex {
    display: flex;
    flex-flow: column;
    flex-wrap: wrap
}

.blog {
    flex: 1;
    margin: 3rem 0;
    display: flex;
    flex-flow: row
}

.links,.links li {
    display: inline-block
}

.blog:nth-child(even) {
    flex-flow: row-reverse
}

.blog .text {
    flex: 7;
    padding: 0 2rem
}

.blog h3 {
    margin-top: 0;
    color: rgba(255,255,255,.9)
}

.blog .image {
    padding-top: 15rem;
    min-width: 15rem;
    background-size: 10rem;
    background-repeat: no-repeat;
    background-position: center
}

#other .image {
    background-image: url(/res/other.png);
    background-size: 10rem;
    background-position: center top;
    box-shadow: inset 0 -8px 16px var(--primary-text-color)
}

#about .image {
    background-image: url(https://avatars0.githubusercontent.com/u/45002816)
}

#works .image {
    background-image: url(/res/works.jpg)
}

.links {
    background: rgba(0,0,0,.15);
    padding: .5rem;
    border-radius: .25rem;
    margin-bottom: 0
}

.links li {
    font-size: .875rem;
    color: rgba(255,255,255,.8);
    padding: 0 .5rem;
    border-right: 1px solid rgba(255,255,255,.3)
}

.links li:first-child:not(:last-child) {
    padding-right: .5rem
}

.links li a:hover {
    color: #fff
}

.links li:last-child {
    border-right: none
}

@media screen and (max-width: 1020px) {
    #top {
        background:#06161D
    }

    #projects {
        border-radius: 0;
        box-shadow: none;
        background: var(--primary-text-color)
    }

    #projects,.padded {
        padding: 2rem 1rem
    }

    .project {
        margin: 0 -1rem!important;
        padding: 3rem 1rem!important
    }

    #links {
        padding: 2rem 0 0
    }

    #blogs {
        margin-top: 0
    }

    .blog {
        margin: 1rem 0;
        flex-flow: column!important
    }

    .blog p {
        color: rgba(255,255,255,.6)
    }

    .blog .image {
        display: none
    }

    .blog .text {
        padding: 0
    }
}

footer ul {
    padding: 0
}

footer ul li {
    display: inline-block;
    margin-right: 1rem
}

.icon {
    fill: rgba(255,255,255,.3);
    height: 2rem;
    width: 2rem;
    transition: .1s fill
}

.icon:hover {
    fill: rgba(255,255,255,.6)
}